<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


	<!-- 使用声明式事务配置，可以有效规范代码 -->
	<!-- 事务管理器 -->
	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 使用动态的数据源dynamicDataSource -->
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 通知 -->

	<tx:annotation-driven transaction-manager="transactionManager" />
	<!--配置切面拦截方法 -->

</beans>